/* 
    Document   : tictactoe
    Created on : Nov 26, 2010, 8:57:17 PM
    Author     : Tako Schotanus <tako@codejive.org>
    Description:
        Main stylesheet for the tic tac toe game
*/

#board {
    background-image: url(../images/tictactoe.png);
    width: 334px;
    height: 321px;
}

.cell {
    position: relative;
    left: 0px; top: 0px;
}

.cross {
    background-image: url(../images/cross.png);
}

.nought {
    background-image: url(../images/nought.png);
}

.stroke {
    position: relative;
    left: 0px; top: 0px;
    visibility: hidden;
}
