/* 
    Document   : styles
    Created on : Nov 26, 2010, 8:57:17 PM
    Author     : Tako Schotanus <tako@codejive.org>
    Description:
        Generic stylesheet for the example apps.
*/

body {
    font: normal normal normal 12px/normal 'helvetica neue', helvetica, arial, verdana, tahoma, 'sans serif';
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    margin-bottom: 1.5em;
}

.spinner {
    background-image: url(../../../images/spinner.gif);
    background-position: center;
    background-repeat: no-repeat
}

.websocket {
    display: none;
}

.nowebsocket {
    display: none;
}

.hidden {
    display: none;
}

.disabled {
}

.error {
    background-color: #ff8888;
}

.warningbox {
    border: 3px solid red;
    padding: 1em;
    border-radius: 8px;
}

.formbox {
    border: 3px solid gray;
    padding: 1em;
    border-radius: 8px;
}

#status {
}
